@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.text-primary {
  color:#ffbc00;
  font-weight: bold;
}


#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75rem;
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 2;
}

#navbar .nav-items {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

#navbar .nav-items li a {
  color: #333;
  margin: 0rem 2rem;
  padding: 1rem;
  border-radius: 5px;
}

#navbar .nav-items li a:hover {
  transition-duration: 0.5s;
  background-color: #ffbc00;
}

/* Header showcase */
.header-showcase {
  height: 100vh;
  background: url('../img/header-showcase-img.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  z-index: 0;
}


.header-showcase::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(70, 70, 70);
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 0;
}


.showcase-content  {
  z-index: 1;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5rem;
  line-height: 2;
}


.btn {
  color: #fff;
  font-size: 1rem;
  background-color: #ffbc00;
  padding: 1rem 2rem;
  border-radius: 5px;
  letter-spacing: 0.15rem;
}

.btn:hover {
  transition-duration: 0.5s;
  background-color: #dba102;
}

.showcase-content h1 {
  letter-spacing: 0.5rem;
  font-size: 4rem;
}

.showcase-content h3  {
  margin: 1rem 0rem;
  letter-spacing: 0.25rem;
  font-size: 2rem;
}

.showcase-button {
  margin: 3rem 0rem;
  text-align: center;
}

/* technical section */
#technical {
  text-align: center;
  margin: 4rem;
}

#technical h1 {
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
  padding-top: 2rem;
}


#technical .technical-lead {
  margin: 2rem 0rem;
  font-size: 1.25rem;
}

#technical hr {

display: block;
margin: 1rem auto;
width: 15%;

} 

#technical .technical-summary {
  display: flex;

}

.technical-box {
  margin: 10rem 0rem;
  flex: 1;
  border: 1px solid black;
  padding: 2rem 1rem;
}

.technical-box i {
  margin: 1rem 0rem;
}

.technical-box h3 {
  letter-spacing: 0.15rem;
  padding: 1rem 0rem;
}

.technical-knowledge {
  display: flex;
  flex-wrap: wrap;
}


.technical-knowledge .technical-box  {
  flex: 1 1 100px;
  
}

.technical-knowledge .technical-box:nth-child(2n) {
  background-color: #cccccc;
}

.technical-knowledge .technical-box {
  background-color: #efefef;
}


/* About section */
#about {
  display: flex;
  justify-content: center;
  text-align: left;
}

#about .about-left,
#about .about-right {
  padding: 15rem 3rem;
  flex: 1;
  border: 1px solid black;
}

#about .about-left h1 {
  letter-spacing: 0.25rem;
  font-size: 2.5rem;
  padding: 1rem 0rem;
}

#about .about-left h3 {
  font-size: 1.75rem;
  letter-spacing: 0.15rem;
  line-height: 2rem;
  padding: 0.75rem 0rem;
}

#about .about-left p {
  padding-top: 2rem;
  text-align: justify;
  line-height: 1.8rem;
  letter-spacing: 0.10rem;
}


#about .about-right {
  background: url('../img/about-img.JPG') no-repeat center center/cover;
}

#about .find-me {
  margin: 4rem 0rem;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

#about .find-me i {
  margin-right:2rem;
}

#about .find-me i:hover {
  transition-duration: 0.5s;
  color: #ffbc00;
}